.notification-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.notification-card {
  background: #fff;
  padding: 20px 25px;
  margin-bottom: 15px;
  border-left: 5px solid #f97316;
  border-radius: 10px;
}

.notification-card h5 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.notification-card p {
  margin: 8px 0 0;
  font-size: 15px;
  color: #666;
}
